<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lis001.invest.dao.InvestsDAO">
	<select id="getInvests" parameterType="int" resultType="com.lis001.invest.dto.Invest">
		SELECT 
			i.investId, i.userId, i.productId, p.title, p.totalInvestingAmount, i.investAmount, i.attendedAt
		FROM invest AS i
		INNER JOIN 
			product AS p
			ON p.productId = i.productId
		WHERE i.userId = #{userId}
	</select>

	<insert id="insertInvest" parameterType="com.lis001.invest.dto.Invest" 
		useGeneratedKeys="true" keyProperty="investId">
		insert into 
			invest (userId, productId, investAmount, attendedAt)
		values
			(#{userId}, #{productId}, #{investAmount}, NOW())
	</insert>
	
</mapper>
